/* Fill CSS here */
body>div {
    display: flex;
}

body>h1 {
    margin: auto;
    text-align: center;
    color: rgb(66, 66, 196);
    text-decoration: underline;
}

form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 300px;
    margin: 80px;
    padding: 20px;
    line-height: 35px;
    /* display: flex; */
    /* flex-direction: column; */
}
input{
    width: 95%;
    border-radius: 5px;
    height:25px;
}

input[type="submit"]{
    width: 95%;
    height: 40px;
    background-color: rgb(82, 82, 205);
border-radius: 10px;
border: none;
color: #fff;
font-weight: bolder;

}
/* form>child{   
} */

table{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
table th{
    background-color:rgb(138, 56, 214);
    color: antiquewhite;

}
table td,table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: large;

}

tbody>tr:nth-child(2nd){
    background-color: rgba(85,85,163,0.788);
}
#exp{
    font-size: large;
    font-weight: 900;
}